<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="springAppName" source="spring.application.name"/>

    <springProfile name="default">
       <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

        <appender name="console-appender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%clr(%d{k:mm:ss:SSS/zzz(M/d/yyyy)}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}</pattern>
                <charset>utf8</charset>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="console-appender"/>
        </root>

    </springProfile>

    <springProfile name="kubernetes">

        <appender name="console-appender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>

        <root level="INFO">
            <appender-ref ref="console-appender"/>
        </root>

    </springProfile>

</configuration>
